.Rproj.user
.Rhistory
.RData
.Ruserdata
/analysis/analysis.Rproj
/analysis/jl/Manifest.toml
/analysis/python/.ipynb_checkpoints/
/analysis/data/
*.jpg
*.svg
*.png
*.bbl
*.pdf
*.tex
/paper/.auctex-auto/
/preprocessing/__pycache__/
/analysis/python/__pycache__/
/paper/jsai_submission.dvi
/paper/jsai_submission.ps
/paper/extended_version/assets/.auctex-auto/
